* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: $fontSize;
  min-width: 320px;
}

@mixin wrapper {
  max-width: 1150px;
  display: flex;
  justify-content: space-between;
}
@mixin flexColumn {
  display: flex;
  flex-direction: column;
}

@mixin flexColumnCenter {
flex-direction: column;
justify-content: center;
align-items: center;
margin: 100px auto;
}
