.description {
  padding: 20px 25px;
  background-color: $colorBg;

  .description__wrapper {
    max-width: 1150px;
    @include flexColumn;
    border-bottom: 1px solid #bdb5af;
    padding-top: 30px;
    margin: 0 auto;

    &__noborder {
      border-bottom: none;
    }

    .wrapper__h2 {
      max-width: 600px;
      @include flexColumn;
      margin: 0 auto;

      h2 {
        color: $colorBrown;
        font-size: 1.4em;
        font-weight: 600;
        text-align: center;
        padding: 40px 0;
      }
    }

    .wrapper__icon {
      display: flex;
      justify-content: space-between;
      max-width: 900px;
      margin: 0 auto;

      .box__icon {
        @include flexColumn;
        align-items: center;
        flex-basis: 30%;
        padding: 30px;

        img {
          height: 100px;
        }

        p {
          padding-top: 30px;
          text-align: center;
        }
      }
    }

    .img__before {
      text-align: center;
      margin: 80px auto;

      img {
        max-width: 50%;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .description {
    .description__wrapper {
      .wrapper__icon {
        @include flexColumn;
        align-items: center;
        max-width: 300px;
        margin: 0 auto;
      }
    }
  }
}
