.footer__wrapper {
  max-width: 1150px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;
  padding: 90px 0 50px;

  .box__logo {
    display: flex;
    align-items: flex-start;
    flex-basis: 35%;
    img {
      width: 50px;

    }
    p {
      padding: 0 30px ;
    }
  }
  .box__link__wrapper {
    display: flex;
    justify-content: space-between;
    flex-basis: 65%;
  }
}
